body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;       
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

img {
    max-width: 200px;
    border-radius: 100px;
    display: block;
    margin: 20px auto;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #0077cc;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}