body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.main-header {
    color: white;       /* Cor do texto branco */
    display: flex;       /* Ativa o modo de colunas */
    align-items: center; /* Alinha a foto e o nome verticalmente no centro */
    gap: 20px;           /* Cria um espaço entre a foto e o texto */
    padding: 20px;
    background-color: #333;
}


.profile-pic {
    width: 100px;        /* Define o tamanho da imagem */
    height: 100px;
    border-radius: 50%;  /* Deixa a foto redonda, se desejar */
    object-fit: cover;   /* Garante que a foto não fique esticada */
}

.header-info h1 {
  margin: 0;           /* Remove margens padrão para alinhar melhor */
  font-size: 1.5rem;
}

section {
    padding: 20px;
}

img {
    max-width: 200px;
    margin-left: 20px;
    border-radius: 100px;
    display: block;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #0077cc;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    text-align: center;
}

@media (max-width: 600px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
    img {
        max-width: 200px;
        margin: 0 auto;
    }
    header {
        flex-direction: column;
        text-align: center;
    }
}