body {
    background-color: #886161;
    justify-content: center;
    display: flex;  
}

.quadroPrincipal {
    background-color: #C27C7C;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.titulo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.inputDados {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    display: flex;
}